@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff8b56;
  margin: auto;
  text-align: center;
  font-size: 0.7rem;
  padding: 0 1rem;
}

.class-header {
  max-width: 668px;
}

h1 {
  color: white;
  padding-top: 2rem;
  margin-bottom: 15px;
}

.h2-border {
  margin-top: 5px;
  background-color: white;
  max-width: 900px;
  border-radius: 5px;
  color: #ff8b56;
  padding: 0 1rem;
}

h2:nth-child(4) {
  margin-top: 15px;
}

h2 {
  color: white;
}

.vsl {
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
  width: 88%;
  max-width: 668px;
}

.vsl > iframe {
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 100%;
}

p {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  max-width: 668px;
}

a {
  background-color: #11ca48;
  text-decoration: none;
  padding: 1rem 0.8rem;
  border-radius: 1rem;
  margin-top: 2rem;
  transition: 0.3s;
}

a:hover {
  background-color: #469d38;
}

.top-button {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.bottom-button {
  font-size: 0.9rem;
  font-weight: 200;
}

.button {
  margin-bottom: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.title-main {
  color: orangered;
  margin-top: 2rem;
  text-align: center;
  padding: 0 1rem;
}

main > p {
  color: black;
  padding: 0 1rem;
  font-weight: 300;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: orangered;
  text-align: left;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-top: 2rem;
}

.title-card {
  color: white;
  font-size: 1.5rem;
}

.card-part-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.number-card {
  font-size: 5rem;
  color: white;
  width: 50px;
  height: 100px;
  padding-bottom: 1rem;
}

.acesso {
  font-weight: 500;
  margin-top: 2rem;
  color: black;
  text-align: center;
}

.main-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  background-color: orangered;
  padding: 2rem 1rem 4rem 1rem;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.main-2 > span {
  max-width: 768px;
}

.provas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-provas {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 4rem 1rem;
  color: orangered;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 850px;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img > img {
  width: 100%;
  max-width: 768px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: center;
  justify-content: center;
}

.grid > img {
  max-width: 768px;
  width: 100%;
}

.subtitle-provas {
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: black;
  margin-top: -3rem;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 900px;
  padding: 0 1rem;
}

.slider {
  display: flex;
  margin: auto;
  overflow-x: auto;
  margin-top: 3rem;
  max-width: 1000px;
}

.slider::-webkit-scrollbar {
  width: 0;
}

.slider > img {
  margin-right: 10px;
  width: 80%;
}

.button-container {
  display: flex;
  text-align: center;
  padding: 0 1rem;
}

.video-provas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 5rem 0;
  flex-direction: column;
  background-color: black;
}

.title-video-provas {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.videos-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.videos-content > iframe {
  border: 2px solid #ff4500;
  border-radius: 25px;
}

.celular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ff5700;
  padding: 0 0 2rem 0;
}

.celular-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  padding: 0 1rem;
}

.celular-description h2 {
  font-size: 1rem;
  font-weight: 400;
}

.bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bonus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bonus-title {
  color: #ff5700;
  text-align: center;
}

.bonus-item {
  display: flex;
}

.bonus-item > img {
  width: 20%;
  height: 20%;
  margin-top: 2rem;
}
.bonus-item-content {
  padding: 0 1rem;
}

.bonus-item-content h1 {
  color: #ff5700;
  font-weight: 500;
  font-size: 1.2rem;
}

.bonus-item-content h2 {
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.bonus-part-1 {
  max-width: 500px;
}

.bonus-part-2 img {
  width: 100%;
}

.maryana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 91%);
  background-color: #ff5700;
  padding: 0 1rem 5rem 1rem;
}

.maryana p {
  text-align: center;
}

.porque {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.porque img {
  margin-top: 4rem;
  width: 100%;
  max-width: 768px;
}

.porque-title {
  color: #ff5700;
  text-align: center;
  padding: 0 1rem;
  margin-top: -3rem;
}

.porque-items {
  margin-top: 1.5rem;
  max-width: 768px;
}

.porque-items h2 {
  padding: 0 1rem;
  font-weight: 400;
  color: #ff5700;
  text-align: left;
}

.porque-items h3 {
  font-weight: 300;
  color: black;
  text-align: left;
  font-size: 1rem;
  padding: 0 1rem;
}

.list {
  width: 300px;
}

.list img {
  width: 100%;
}

.preco {
  clip-path: polygon(0 15%, 100% 1%, 100% 100%, 0% 100%);
  background-color: #ff5700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.preco-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 768px;
}

.preco h1 {
  align-self: center;
}

.title-preco-items {
  font-size: 1.2rem;
}

.preco-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.money {
  text-decoration: line-through;
  font-weight: 700;
  font-size: 1.7rem;
}

.bump {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bump-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 3rem 0;
  background-color: #ededed;
  border-radius: 0 0 15px 15px ;
  margin: 3rem 1rem;
  padding-bottom: 1rem;
}

.bump-container h1 {
  background-color: #ff5700;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 1rem;
}

.subtitle-bump {
  color: black;
  font-weight: 400;
}

.oferta {
  color: #ff5700;
}

.price {
  color: #ff5700;
  font-size: 3rem;
  font-weight: 700;
}

.slice-price {
  color: #ff5700;
  font-size: 1.3rem;
  font-weight: 500;
  border: 3px solid #ff5700;
  border-radius: 25px;
  padding: 0 1rem;
}

.bump-button {
  color: white;
  border-radius: 25px;
  font-weight: 500;
}

.bump-pagamento {
  color: black;
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
}

.bump-image {
  width: 320px;
}

.bump-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .vsl {
    padding-bottom: 0px;
  }

  .vsl > iframe {
    position: relative;
    height: 375px;
  }
}

@media (max-width: 920px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
  }
}
